:root {
    --dark-blue: #001842;
    --second: #0C3C80;
    --third: #2A63AB;
    --fourth: #96B7D6;
    --fifth: #C9DCE9;
   --box-shadow: 2px 2px  18px rgb(14 52 54/15%);
   --gradient:linear-gradient(to right, #001842,#0C3C80);
}

.main-nav {
    background: var(--gradient)
}

 .navlink{
    color: 	white;
}
.navlink:hover{
    color: var(--fifth);
}
.search-btn{
    color: var(--fourth);
    border: 2px solid var(--fourth);

}
.search-btn:hover{
    background:var(--fourth);
    color: var(--dark-blue);
}
.search:hover{
    border: 2px solid var(--dark-blue);
}